<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>equipment-list</title>
</head>
<body>
    <main>
        <%if(equipments.length>0){%>
        <ul><%for(let e of equipments){%>
                <li><a href="/euipments/<%=e.id%>"><h3><%=e.type%></h3></a></li>
            <%}%>
        </ul>
        <%}%>
    </main>
</body>
</html>