<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>event-list</title>
</head>
<body>
    <main>
        <%if(events.length>0){%>
        <ul><%for(let event of events){%>
                <li><a href="/events/<%=event.id%>">
                    <h3><%=event.name%><%=event.id%></h3>
                </a></li>
            <%}%>
            <li>
                <a href="/events/add"><h3>Add New</h3></a>
            </li>
        </ul>
        <%}%>
    </main>
</body>
</html>