<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <ul>
        <li>
            <a href="/members">
                <h2>MEMBERS:
                    <%=memberNo%>
                </h2>
            </a>
        </li>
        <li>
            <a href="/events">
                <h2>EVENTS:
                    <%=eventNo%>
                </h2>
            </a>
        </li>
        <li>
            <a href="/equipments">
                <h2>EQUIPMENTS:
                    <%=equipmentNo%>
                </h2>
            </a>
        </li>
        <li>
            <a href="/musicians">
                <h2>MUSICIANS:
                    <%=musicianNo%>
                </h2>
            </a>
        </li>
    </ul>
</body>

</html>