<!DOCTYPE html>
<html>

<head>
    <title>Customers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/members/add" method="post" name="form_add_member">
        <div class="form-group">
            <label for="roll_no">Roll Number</label>
            <input type="text" class="form-control" name="roll_no" id="roll_no" value="" placeholder="Roll Number">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name" value="" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name" value="" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="instrument">Instrument</label>
            <input type="text" class="form-control" name="instrument" id="instrument" value="" placeholder="Instrument">
        </div>

        <input type="submit" class="btn btn-primary" value="Add">
    </form>
    <%if(err){%>
        <%for (var e in err){%>
            <h4>
                <%=err[e].msg%>
            </h4>
            <%}%>
                <%}%>
</body>

</html>