<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>member-list</title>
</head>
<body>
    <main>
        <%if(members.length>0){%>
        <ul><%for(let member of members){%>
                <li><a href="/members/<%=member.rollno%>"><h3><%=member.fname%>
                    <%=member.lname%>
                                                            </h3></a></li>
            <%}%>
        </ul>
        <%}%>
    </main>
</body>
</html>