<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>musicians</title>
</head>

<body>
    <main>
        <ul>
            <%if(members.length > 0) {%>
                <%for(let member of members){%>
                    <li>
                        <a href="/members/<%=member.roll_no%>">
                            <h3>
                                <%=member.first_name%>
                                    <%=member.last_name%>
                                        -
                                        <%=member.instrument%>
                            </h3>
                        </a>
                    </li>
                    <%}%>
                        <%}%>

        </ul>
    </main>
</body>

</html>