<!DOCTYPE html>
<html>

<head>
    <title>Customers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/supplier/add" method="post" name="form_add_member">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="addresss">Contact</label>
            <input type="text" class="form-control" name="addresss" id="addresss" value="" placeholder="addresss">
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" name="contact" id="contact" value="" placeholder="Contact">
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>
</body>

</html>